.metaslider .slides .caption {
  line-height: 1.35;
  padding: 9px 14px; }
	
.metaslider .slides .caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .9;
  background: rgb(0, 0, 0); /* The Fallback */
  background: rgb(0, 0, 0, .8); 
  color: white;
  line-height: 30px;  
  margin: 0;
  display: block;
  width: 100%; }
  
/* Control Nav */
  
.metaslider .flex-control-nav {
  line-height: 11px;
  height: 40px;
  padding: 20px 0 0; }
  
.metaslider .flex-control-paging li a {
  width: 9px; 
  height: 9px; 
  background: #999; 
  background: rgba(0,0,0,0.45); }

.metaslider .flex-control-paging li a:hover { 
  background: #323232; 
  background: rgba(0,0,0,0.65); }

.metaslider .flex-control-paging li a.flex-active { 
  background: #323232; 
  background: rgba(0,0,0,0.65); }