/**
 * Current Issue
 */
 
.current-issue {
  padding-top: 20px; }
 
.current-issue.widget-title {
  border-bottom: none;
  padding-bottom: 5px; }
  
.current-read-more {
  padding-top: 6px;
  font-size: .85em;
  font-weight: 700; }
  
/**
 * Staff Page (Editorial Board)
 */ 
  
.page-id-18 .content { /* Center text on page */
  text-align: center; }
  
.page-id-18 .content p { 
  font-size: .85em; }
 
.page-id-18 .content p em {
  font-size: .9em; }
  
.page-id-18 .content h4 {
  margin-top: .5em;
  margin-bottom: 1em; }
  
/* =======================================================
   Responsive
   ======================================================= */   
  
@media only screen and (max-width: 760px) {	  
  
  .current-issue-wrap {
	  display: none; }

}